/* Style de base */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden; /* Empêche le défilement horizontal */
    height: 100%; /* Assure que le body couvre toute la hauteur de la fenêtre */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    text-align: center;
    padding: 20px;
    position: relative; /* Nécessaire pour positionner les pseudo-éléments */
    z-index: 1; /* Assure que le contenu est au-dessus des images de fond */
    width: 100%;
    height: 100%; /* Prend toute la hauteur du site */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#question {
    font-size: 3em;
    margin-bottom: 20px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

#answer {
    font-size: 8em;
    margin-bottom: 10px;
    position: relative;
    top: -50px; /* Déplace légèrement au-dessus du centre */
}

#complement {
    font-size: 2em;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
}

/* Ajout de l'image de fond en deux parties */
body::before, body::after {
    content: "";
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    background-image: url('../resources/KC_BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0; /* Assure que les images de fond sont derrière le contenu */
    overflow: hidden; /* Cache les parties débordantes */
}

body::before {
    left: 0;
    background-position: right center;
    transform: translateX(-50%); /* Déplace l'image vers la gauche pour montrer la moitié droite */
}

body::after {
    right: 0;
    background-position: left center;
    transform: translateX(50%); /* Déplace l'image vers la droite pour montrer la moitié gauche */
}

/* Responsive design */
@media (max-width: 768px) {
    #question {
        font-size: 1.5em;
    }

    #answer {
        font-size: 3em;
    }

    #complement {
        font-size: 1.2em;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    #question {
        font-size: 1.5em;
    }

    #answer {
        font-size: 5em;
        margin-top: -200px;
    }

    #complement {
        font-size: 1.2em;
        margin-top: -50px;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em;
    }

    /* Ajustement pour les mobiles */
    body::before, body::after {
        width: 100%;
        height: 50%; /* Couvre la moitié inférieure de l'écran */
        top: 50%; /* Positionne à partir du milieu de l'écran */
    }

}